<div class="product-box" [ngClass]="viewMode" (click)="goToDetail(product?.id || '232323')">
  <div class="image-holder">
    <img
      class="main-img"
      [src]="
        selectedColor?.thumbnail_url
          ? imageBaseUrl + '/' + selectedColor?.thumbnail_url
          : imageBaseUrl + '/' + product?.thumbnail_url
          ? imageBaseUrl + '/' + product?.thumbnail_url
          : imageBaseUrl + 'public/amd-ryzen-5-7600.jpg'
      "
      alt="Product Image"
    />

    <div class="new-tag">
      <span>{{ product?.condition || 'new' }}</span>
    </div>
    <div class="bucket-icons">
      <div class="bucket-icon"><ion-icon name="heart-outline"></ion-icon></div>
      <div class="bucket-icon" (click)="addToCart($event, product)">
        <ion-icon name="cart-outline"></ion-icon>
      </div>
      <div class="bucket-icon"><ion-icon name="search-outline"></ion-icon></div>
      <div class="bucket-icon"><ion-icon name="refresh-outline"></ion-icon></div>
    </div>
    <div class="review-tag">
      <ion-icon name="star" style="color: #f4c430; font-size: 16px"></ion-icon>
      <span>3</span>
    </div>

    <div class="quick-view" (click)="quickView($event)">
      <span>Quick View</span>
    </div>
  </div>

  <div class="product-details">
    <span class="product-title">{{ product.name }}</span>
    <span class="category">{{ product.category }}</span>
    <span class="price">
      {{ getCurrencySymbol(product?.priceList?.[0]?.currency_code) || '€' }}
      {{
        product?.price
          ? product?.price + selectedColor?.price_adjustment + selectedSize?.price_adjustment
          : '10'
      }}
      @if(product.priceList?.[0]?.discount_percentage !== 0 ) {
      <span class="old-price"
        >{{ getCurrencySymbol(product?.priceList?.[0]?.currency_code) || '€'
        }}
        {{ product?.priceList?.[0]?.price_amount ?? 20 }}</span
      >
      <span class="discout">{{ product?.priceList?.[0]?.discount_percentage ?? 10}}%</span>
      }
    </span>
    <!-- <button class="design-button">Design Now</button> -->
    <div class="attributes" (click)="handleMouseEvent($event)">
      <!-- show colors if available in product -->
      @if(product?.variants?.color?.length > 0){
      <!-- loop for color to display all colors -->
      <div class="colors">
        @for (color of product?.variants?.color; track $index) {
        <div
          class="color-icon"
          [style.background-color]="color.name"
          (click)="updateValue($event, color, 'selectedColor')"
          [ngClass]="{ 'selected-attribute': selectedColor.name == color.name }"
        ></div>
        }
      </div>
      }

      <!-- show sizes if available in product -->
      @if(product?.variants?.size?.length > 0){
      <!-- loop for sizes to display all sizes -->
      <div class="sizes">
        @for (size of product?.variants?.size; track $index) {
        <div
          class="size-icon"
          [ngClass]="{ 'selected-attribute': selectedSize.name === size.name }"
          (click)="updateValue($event, size, 'selectedSize')"
        >
          {{ size.name }}
        </div>
        }
      </div>
      }
    </div>
    <div class="limited-offer">
      <div class="marquee">
        <div class="marquee-track">
          <div class="marquee-content">
            <div class="icon">
              <i class="fa fa-percent"></i>
            </div>
            <div class="text">
              <span>Limited Offer</span>
              <span class="countdown">02:34:52</span>
            </div>
          </div>
          <div class="marquee-content">
            <div class="icon">
              <i class="fa fa-percent"></i>
            </div>
            <div class="text">
              <span>Limited Offer</span>
              <span class="countdown">02:34:52</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
