<div class="header-wrapper" [class.hide-top-bar]="isMobile() || hideTopBar">
  <!-- Top Bar -->
  <div class="top-bar">
    <div class="container">
      <div class="left">
        <span class="offer">Welcome to our store Shopfinity</span>
        <a
          href="https://wa.me/1234567890"
          target="_blank"
          rel="noopener noreferrer"
          class="offer whatsapp-link"
        >
          <ion-icon name="logo-whatsapp" class="logo-whatsapp"></ion-icon>
          Call us: 123-456-7890
        </a>
      </div>

      <div class="right">
        @for (link of topBarLinks; track $index) {
        <a
          [routerLink]="link.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ link.label }}</a
        >
        }
      </div>
    </div>
  </div>

  <!-- Main Header -->
  <header class="app-header">
    <div class="container">
      <div class="logo">
        <ion-icon
          name="menu-outline"
          class="menu-icon"
          (click)="categoryMenuOpen = true"
        ></ion-icon>
        <span class="text">Shop<span class="highlight">finity</span></span>
      </div>

      <nav class="nav" [class.open]="menuOpen">
        @for (link of mainNavLinks; track $index) {
        <a
          [routerLink]="link.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeMenu()"
        >
          <ion-icon [name]="link.icon"></ion-icon>
          <span>{{ link.label }}</span>
        </a>
        }
        <a (click)="toggleMenu()" class="cart-mobile-menu">
          <ion-icon name="cart-outline"></ion-icon>
          <span>Cart</span>
        </a>
      </nav>

      <div class="right-section">
        <div class="search-bar">
          <!-- <input type="text" placeholder="Search products..." /> -->
          <button aria-label="Search" (click)="showSearchModal = true" class="search-button">
            <ion-icon name="search-outline"></ion-icon>
          </button>
        </div>
        <a (click)="toggleMenu()" class="cart-btn">
          <ion-icon name="cart-outline"></ion-icon>
          <span class="cart-count">3</span>
        </a>

        <!-- <button class="menu-toggle" (click)="toggleMenu()" aria-label="Toggle menu">
          <span class="bar top" [class.open]="menuOpen"></span>
          <span class="bar middle" [class.open]="menuOpen"></span>
          <span class="bar bottom" [class.open]="menuOpen"></span>
        </button> -->
      </div>
    </div>
    @if (menuOpen) {
    <div class="cart-panel" [class.open]="menuOpen">
      <div class="cart-header">
        <h3>Shopping Cart</h3>
        <button class="close-btn" (click)="closeMenu()">
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>
      <app-shopping-cart class="cart-content"></app-shopping-cart>

      <!-- Footer with “View Cart” button -->
      <div class="cart-footer">
        <button class="view-btn" routerLink="/cart" routerLinkActive="active" (click)="closeMenu()">
          View Cart
        </button>
        <button class="cart-btn" routerLink="/cart" routerLinkActive="active" (click)="closeMenu()">
          Checkout
        </button>
      </div>
    </div>

    <div class="backdrop" (click)="closeMenu()"></div>
    }
  </header>
</div>

<!-- category side menu -->
<app-base-side-menu
  [isOpen]="categoryMenuOpen"
  position="left"
  title="Categories"
  (close)="categoryMenuOpen = false"
>
  <div class="category-list">
    @for (category of categories; track $index) {
    <div class="category-item" (click)="onCategorySelect(category)">
      <span>{{ category }}</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    }
  </div>
</app-base-side-menu>

<!-- search modal -->
@if(showSearchModal){
<app-search-product (close)="showSearchModal = false"></app-search-product>
}
