<app-content-header pageName="Shop" [routePath]="breadcrumb"></app-content-header>
<div class="detail-container">
  <app-product-detail
    [productId]="productId"
    (productLoaded)="onProductReceived($event)"
  ></app-product-detail>
</div>
<div class="description-section">
  <div class="tab-bar">
    <div
      class="tab"
      [class.active]="activeTab === 'Specification'"
      (click)="setActiveTab('Specification')"
    >
      Specification
    </div>

    <div class="tab" [class.active]="activeTab === 'Price'" (click)="setActiveTab('Price')">
      Price
    </div>
    <div class="tab" [class.active]="activeTab === 'review'" (click)="setActiveTab('review')">
      Reviews
    </div>
  </div>

  @if (activeTab === 'Specification') {
  <div class="tab-content">
    <table class="product-table">
      <tbody>
        @for (key of Object.keys(product?.attributes || {}); track key) {
        <!-- hide model key from display -->
        @if (key !== 'model') {
        <tr>
          <td class="attr-key">{{ key | titlecase }}</td>
          <td class="attr-value">
            @if (Array.isArray(product.attributes[key])) { @for (item of product.attributes[key];
            track item) { @if (typeof item === 'object' && item !== null) {
            <div class="nested-object">
              @for (innerKey of Object.keys(item); track innerKey) { @if (innerKey !== 'is_default'
              && innerKey !== 'thumbnail_url') {
              <div class="nested-field">
                <span class="nested-key">{{ innerKey | titlecase }}:</span>
                <!-- to display cuurency code -->
                @if (innerKey === 'price_adjustment') {
                <span class="nested-value"
                  >{{ item[innerKey] }}
                  {{ getCurrencySymbol(product?.priceList?.[0]?.currency_code) }}</span
                >
                } @else {
                <span class="nested-value">
                  @if(innerKey === 'hex'){
                  <span
                    [style.backgroundColor]="item[innerKey]"
                    style="width: 20px; height: 20px; border-radius: 50%; border: 1px solid gray"
                  ></span>
                  }
                  {{ item[innerKey] }}</span
                >
                }
              </div>
              } }
            </div>
            } @else {
            <span>{{ item }}</span>
            } } } @else {
            {{ product.attributes[key] }}
            }
          </td>
        </tr>
        } }
      </tbody>
    </table>
  </div>

  } @if (activeTab === 'review') {
  <div class="review-section">
    @if (productReview?.length > 0) {
    <div class="reviews-list">
      @for (review of productReview; track review.id) {
      <div class="review-card">
        <div class="review-header">
          <div class="reviewer-info">
            <div class="avatar">
              {{ review.reviewer_name.charAt(0).toUpperCase() }}
            </div>
            <div>
              <h4 class="name">{{ review.reviewer_name }}</h4>
              <p class="email">{{ review.reviewer_email }}</p>
              <span class="verified" *ngIf="review.is_verified_purchase">✔ Verified Purchase</span>
            </div>
          </div>
          <div class="rating">
            @for (star of [].constructor(5); track $index) {
            <span class="star" [class.filled]="$index < review.rating">★</span>
            }
          </div>
        </div>

        <div class="review-body">
          <h3 class="review-title">{{ review.title }}</h3>
          <p class="review-content">{{ review.content }}</p>

          <div class="pros-cons">
            <div><strong>Advantages:</strong> {{ review.advantages || 'N/A' }}</div>
            <div><strong>Disadvantages:</strong> {{ review.disadvantages || 'N/A' }}</div>
          </div>

          @if (review.media_urls?.length) {
          <div class="review-media">
            @for (url of review.media_urls; track url) {
            <img [src]="r2BaseUrl + '/' + url" alt="review image" class="review-image" />
            }
          </div>
          }

          <div class="review-footer">
            <span class="date">{{ review.created_at | date : 'mediumDate' }}</span>
          </div>
        </div>
      </div>
      }
    </div>
    } @else {
    <div class="empty-content">
      <h1>No Reviews Yet</h1>
      <p>There are currently no ratings or reviews for this product.</p>
    </div>
    }
  </div>
  } @if(activeTab==="Price"){
  <div class="tab-content">
    <table class="product-table">
      <tbody>
        <tr>
          <td class="attr-key">Price</td>
          <td class="attr-value accent">
            {{ getCurrencySymbol(product.priceList?.[0]?.currency_code) }}
            {{ product?.price || 'N/A' }}
          </td>
        </tr>
        <tr>
          <td class="attr-key">Shipping</td>
          <td class="attr-value">
            {{ getCurrencySymbol(product?.priceList?.[0]?.currency_code) }}
            {{ product.priceList?.[0]?.shipping_cost || 'N/A'}}
          </td>
        </tr>
        <tr>
          <td class="attr-key">Delivery</td>
          <td class="attr-value">
            {{ product.priceList?.[0]?.estimated_delivery_days_range?.Lower || 'N/A' }} -
            {{ product.priceList?.[0]?.estimated_delivery_days_range?.Upper || 'N/A' }} days.
          </td>
        </tr>
        <tr>
          <td class="attr-key">Stock</td>
          <td
            class="attr-value"
            [ngClass]="{
              'in-stock': product.priceList?.[0]?.stock_quantity > 0,
              'out-of-stock': product.priceList?.[0]?.stock_quantity === 0
            }"
          >
            @if (product.priceList?.[0]?.stock_quantity) { In Stock ({{
              product.priceList[0]?.stock_quantity || 'N/A'
            }}
            available) } @else { Out of Stock }
          </td>
        </tr>
        <tr>
          <td class="attr-key">Seller</td>
          <td class="attr-value code">{{ product.priceList?.[0]?.seller_id || 'N/A' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  }
</div>

<!-- <div class="related-section">
  <h3>RELATED PRODUCTS</h3>
  <div class="related-products">
    @for (item of [].constructor(4); track $index) {
    <app-product-card (quickViewClicked)="showDetailModal = true"></app-product-card>
    }
  </div>
</div> -->
<!-- 
@if (showDetailModal) {
<app-base-modal [show]="showDetailModal" title="Product View" (close)="showDetailModal = false">
  <app-product-detail></app-product-detail>
</app-base-modal>
} -->
