:host ::ng-deep {
  .detail-container app-product-detail {
    .product-modal-content {
      display: flex;

      gap: 2rem;
      max-height: none;
      overflow: unset;
    }

    .product-images {
      width: 100%;
      margin-bottom: 1rem;
    }

    .product-info {
      width: 100%;
    }
  }

  app-product-detail {
    flex-direction: column !important;
  }
}

.description-section {
  padding-top: 1.5rem;

  .tab-bar {
    display: flex;
    border: 1px solid var(--app-border-color);
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: #f8f8f8;

    .tab {
      padding: 0.75rem 1rem;
      cursor: pointer;
      background-color: #fff;
      font-weight: 500;
      font-size: calc(14px + .0025 * (100vw - 320px));
      ;
      color: #555;
      border: 1px solid var(--app-border-color);
      border-bottom: none;

      transition: all 0.3s ease;

      &.active {
        color: var(--app-primary);
        border: 2px solid var(--app-primary);
      }

      &:hover {
        color: var(--app-primary);
      }
    }
  }

  .tab-content {
    border: 1px solid var(--app-border-color);
    padding: 1rem;
    animation: fadeIn 0.3s ease;

    p {
      line-height: 1.5;
      letter-spacing: .03em;
      font-size: calc(14px + .00125 * (100vw - 320px));
      color: #777;
    }

    .info-table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        text-align: left;
        padding: 0.75rem 1rem;
        border-bottom: 1px solid #e5e7eb;
        vertical-align: top;
      }

      th {
        width: 120px;
        font-weight: 600;
        color: #444;
      }

      td {
        color: #333;
      }
    }
  }

  .empty-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    border: 1px solid var(--app-border-color);
    padding: 1rem;
    animation: fadeIn 0.3s ease;

    h1 {
      margin: 0;
      padding: 1rem 0rem;
    }

    p {
      margin: 0;

    }
  }
}

// .related-section {
//   padding: 1rem 0rem;
//   h3 {
//     font-size: 1.5rem;
//     font-weight: 700;
//     margin-bottom: 1.5rem;
//     color: var(--app-dark);
//     letter-spacing: 0.5px;
//   }

//   .related-products {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
//     gap: 2rem;
//     justify-items: center;
//   }
// }

@media (min-width: 768px) {
  :host ::ng-deep {
    app-product-detail {
      .product-modal-content {
        flex-direction: row;
        align-items: flex-start;
      }

      .product-images {
        flex: 2;
        max-width: 30%;
        margin-bottom: 0;
      }

      .product-info {
        flex: 1;
        max-width: 40%;
      }
    }
  }
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}