<!-- <h2 class="page-title">{{ productCategory }}</h2> -->
<app-content-header pageName="Shop" [routePath]="breadcrumb"></app-content-header>

<div class="view-toggle-container">
  <div class="view-buttons">
    <button class="toggle-btn" [class.active]="viewMode === 'grid'" (click)="viewMode = 'grid'">
      <i class="fa fa-th-large"></i> Grid
    </button>
    <button class="toggle-btn" [class.active]="viewMode === 'list'" (click)="viewMode = 'list'">
      <i class="fa fa-bars"></i> List
    </button>
  </div>
</div>
<div class="main-container">
  <div class="inner-container">
    <div class="filter-container"></div>
    <div class="products-container">
      <div>
        <img src="https://laravel.pixelstrap.net/multikart/storage/3678/1.png" />
      </div>
      <section class="products" [ngClass]="viewMode">
        @for (product of productsByCategory; track $index) {
        <div class="product-loop">
          <app-product-card
            [product]="product"
            [viewMode]="viewMode"
            (quickViewClicked)="showDetailModal = true"
          ></app-product-card>
        </div>
        }
      </section>
    </div>
  </div>
</div>
@if (!productsByCategory.length) {
<span>No product to display.</span>
}
<!-- show detail modal -->
@if (showDetailModal) {
<app-base-modal
  [show]="showDetailModal"
  title="Product View"
  class="product-detail-modal"
  (close)="showDetailModal = false"
>
  <app-product-detail></app-product-detail>
</app-base-modal>
}
