<div class="cart-layout">
  @if (cartItems?.length) {
  <div class="left-section">
    <div class="free-shipping">
      @if(totalCost && totalCost < 300){
      <p>
        <i class="fa-solid fa-box"></i>
        Add <strong> € {{ 300 - totalCost }}</strong> to your cart for free shipping!
      </p>
      } @else{
      <p class="eligible">
        <i class="fa-solid fa-truck-fast"></i>
        Congratulations! You are eligible for free shipping.
      </p>
      }
      <div class="bar-container">
        <div class="bar" [style.width.%]="(totalCost / 300) * 100"></div>
      </div>
    </div>

    <div class="cart-items">
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of cartItems; let index = index">
            <!-- Main Product Row -->
            <tr [class.no-border]="item?.variants?.hasCustom">
              <td class="item">
                <div class="item-info">
                  <div class="item-details">
                    <img
                      [src]="r2BaseUrl + item?.variants?.thumbnail_url"
                      alt="{{ item.name }}"
                      class="item-image"
                    />
                    <span class="item-name">{{ item?.product_name ?? 'Men T-shirt' }}</span>
                  </div>
                </div>
              </td>
              <td>€ {{ item?.final_price+item.variants?.selectedColor?.price_adjustment+item.variants?.selectedSize?.price_adjustment || 10 }}</td>
              <td>
                <div class="quantity">
                  <button (click)="decreaseQty(item)">−</button>
                  <span>{{ item.quantity || 1 }}</span>
                  <button (click)="increaseQty(item)">+</button>
                </div>
              </td>

              <td>€ {{ (item?.final_price+item.variants?.selectedColor?.price_adjustment+item.variants?.selectedSize?.price_adjustment) * item.quantity || 10 }}</td>

              <td class="icon-td">
                <i class="fa fa-close delete-icon" (click)="removeFromCart(item)"></i>
              </td>
            </tr>
            @if (item?.variants?.hasCustom) {
            <tr>
              <td colspan="5">
                <div class="custom-preview-full">
                  <div
                    (click)="
                      moveToCustomDesign(item.product_id, item?.variants?.model?.modelPath, item.id)
                    "
                  >
                    <i class="fa fa-paint-brush"></i>
                    <span>Custom Design</span>
                  </div>
                  <i class="fa fa-close delete-icon" (click)="removeCustomDesign(item)"></i>
                </div>
              </td>
            </tr>
            }
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="summary-card">
      <h3>Order Summary</h3>

      <!-- <div class="coupon">
          <input type="text" placeholder="Enter coupon code" [(ngModel)]="couponCode" />
          <button (click)="applyCoupon()">Apply</button>
        </div> -->

      <div class="summary-line">
        <span>Subtotal</span>
        <span>€ {{ totalCost ? totalCost.toFixed(2) : 10 }}</span>
      </div>

      <div class="summary-line">
        <span>GST (5%)</span>
        <span>€ {{ gstAmount ? gstAmount.toFixed(2) : 10 }}</span>
      </div>

      <div class="summary-line total">
        <span>Total</span>
        <span>€ {{ grandTotal ? grandTotal.toFixed(2) : 10 }}</span>
      </div>

      <button class="checkout-btn" (click)="emitStep()">Proceed to Checkout</button>
    </div>
  </div>
  }@else {
  <span>No items available in cart.</span>
  }
  <div class="right-section"></div>
</div>
