<div class="product-modal-content">
  @if(this.product){

  <!-- Product Images -->
  <div class="product-images">
    <div class="main-image-wrapper">
      <img
        [src]="
          selectedColor
            ? imageBaseUrl + selectedColor?.thumbnail_url
            : imageBaseUrl + product?.thumbnail_url
        "
        alt="Product"
        class="main-image"
      />
    </div>

    <div class="thumbnail-list">
      <!-- @if(product.thu) -->
      @if (typeof product.thumbnail_url === 'string' && product.thumbnail_url) {

      <img
        [src]="
          selectedColor
            ? imageBaseUrl + selectedColor?.thumbnail_url
            : product?.thumbnail_url
            ? imageBaseUrl + product?.thumbnail_url
            : 'https://laravel.pixelstrap.net/multikart/storage/49/fashion_173.jpg'
        "
        alt="Thumbnail"
        [class.active]="imageBaseUrl + product?.thumbnail_url === selectedImage"
        (click)="onSelectImage(imageBaseUrl + product?.thumbnail_url)"
      />
      } @else { @for (img of product.thumbnail_url; track $index) {
      <img
        [src]="img"
        alt="Thumbnail"
        [class.active]="img === selectedImage"
        (click)="onSelectImage(img)"
      />
      } }
    </div>
  </div>

  <!-- Product Details -->
  <div class="product-info">
    <div class="price-detail">
      <h2 class="product-title">
        {{ product.name }}
      </h2>
      <p class="category"><strong>Category:</strong> {{  product?.category && product?.category.toUpperCase() }}</p>
      <p class="price-tag">
        MRP:
        <span class="price"
          >{{ getCurrencySymbol(product.priceList?.[0]?.currency_code)
          }} {{ product?.priceList[0]?.price_amount - product.priceList?.[0]?.discount_amount }}
        </span>
        @if(product.priceList?.[0]?.discount_percentage!==0){
        <span class="old-price"
          >{{ getCurrencySymbol(product?.priceList?.[0]?.currency_code)
          }} {{ product.priceList?.[0]?.price_amount }}
        </span>
        <span class="discount">{{ product?.priceList?.[0]?.discount_percentage }}%</span>
        }
      </p>
      <p class="tax-desc">Inclusive of all taxes</p>
    </div>

    <div class="product-meta">
      <h4>Product Description</h4>
      <p>
        {{ product.description }}
      </p>
      <!-- <ul class="product-meta-list">
          <li>SKU: KIDS06</li>
          <li>Unit: 1 piece</li>
          <li>Weight: 100 Gms</li>
          <li>Stock Status: In stock</li>
          <li>Quantity: 20 Items Left</li>
        </ul> -->
    </div>

    <div class="product-delivery">
      <h4>Delivery Details</h4>
      <div class="delivery-detail">
        <i class="fa fa-truck"></i>
        <p>
          Your order is likely to reach you within
          {{ product.priceList?.[0]?.estimated_delivery_days_range.Lower }} -
          {{ product.priceList?.[0]?.estimated_delivery_days_range.Upper }} days.
        </p>
      </div>
      <div class="delivery-detail">
        <i class="fa fa-money-bill"></i>
        <p>
          Shipping Cost:
          {{
          getCurrencySymbol(product?.priceList?.[0]?.currency_code) }}
          {{ product?.priceList?.[0]?.shipping_cost }}
        </p>
      </div>
    </div>
    <!-- <div class="safe-checkout">
      <h4>Guaranteed Safe Checkout</h4>
      <img src="https://laravel.pixelstrap.net/multikart/storage/3835/payments.png" alt="" />
    </div>

    <div class="safe-checkout">
      <h4>Secure Checkout</h4>
      <img src="https://laravel.pixelstrap.net/multikart/storage/3836/secure_payments.png" alt="" />
    </div> -->
    <div class="attributes">
      <!-- show colors if available in product -->
      @if(product?.attributes?.colors?.length > 0){
      <!-- loop for color to display all colors -->
      <div class="colors">
        @for (color of product?.attributes?.colors; track $index) {
        <div
          style="width: 20px; height: 20px; border-radius: 50%"
          class="color-icon"
          [style.background]="color.hex"
          (mouseenter)="updateValue($event, color, 'selectedColor')"
          [ngClass]="{ 'selected-attribute': selectedColor.hex == color.hex }"
        ></div>
        }
      </div>
      }

      <!-- show sizes if available in product -->
      @if(product?.attributes?.sizes?.length > 0){
      <!-- loop for sizes to display all sizes -->
      <div class="sizes">
        @for (size of product?.attributes?.sizes; track $index) {
        <div
          class="size-icon"
          [ngClass]="{ 'selected-attribute': selectedSize.name === size.name }"
          (click)="updateValue($event, size, 'selectedSize')"
        >
          {{ size.name }}
        </div>
        }
      </div>
      }
    </div>
  </div>

  <!-- Actions -->
  <div class="actions-section">
    <div class="actions">
      <div class="quantity-counter">
        <button class="counter-btn" [ngClass]="{ disable: count === 1 }" (click)="onDecrement()">
          −
        </button>
        <span class="quantity">{{ count }}</span>
        <button
          class="counter-btn"
          [ngClass]="{ disable: count === product?.priceList[0]?.stock_quantity }"
          (click)="onIncrement()"
        >
          +
        </button>
      </div>

      <button class="design-now" [routerLink]="['/design-model', productId]">
        Customize Design
      </button>

      <div class="shop-actions">
        <button class="add-to-cart" (click)="addProductToCart()">
          <i class="fa fa-shopping-basket"></i> Add to Cart
        </button>
        <button class="add-to-cart">Buy Now</button>
      </div>
    </div>
    <div class="sale-ends">
      <h4 class="clock-container">
        <span class="clock">
          <span class="hour-hand"></span>
          <span class="minute-hand"></span>
          <span class="center-dot"></span>
        </span>
        Sales Ends In
      </h4>
      <div class="countdown compact" role="timer" aria-live="polite">
        <div class="cd-item">
          <span class="cd-value" id="days">0</span>
          <span class="cd-label">Days</span>
        </div>
        <div class="cd-item">
          <span class="cd-value" id="hours">0</span>
          <span class="cd-label">Hours</span>
        </div>
        <div class="cd-item">
          <span class="cd-value" id="mins">0</span>
          <span class="cd-label">Min</span>
        </div>
        <div class="cd-item">
          <span class="cd-value" id="secs">0</span>
          <span class="cd-label">Sec</span>
        </div>
      </div>
    </div>
  </div>
  }
</div>
