<div class="add-product-container">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <!-- CATEGORY SECTION -->
    @if (!editConfig.isEdit) {
    <mat-card class="form-card">
      <div class="header">
        <h2>Category</h2>
        @if (!creatingCategory && !productDetailsAdded) {
        <button mat-stroked-button color="primary" type="button" (click)="createNewCategory()">
          Create New
        </button>
        }
      </div>

      @if (!creatingCategory) {
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Select Category</mat-label>
        <mat-select formControlName="category_id" (selectionChange)="onCategorySelect($event)">
          @for (cat of categories; track cat.id) {
          <mat-option [value]="cat.id">{{ cat.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      } @if (creatingCategory) {
      <div class="fade-in">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Category Name *</mat-label>
          <input matInput formControlName="category_name" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="category_description"></textarea>
        </mat-form-field>

        <div class="file-upload">
          <label>Thumbnail *</label>
          <div class="file-input-wrapper">
            <input
              type="file"
              (change)="onFileSelected($event, 'category_thumbnail_url')"
              class="file-input"
              accept="image/*"
            />
          </div>
        </div>

        <div class="btn-row">
          <button
            mat-stroked-button
            class="outline-btn"
            type="button"
            (click)="creatingCategory = false"
          >
            Cancel
          </button>
          <button mat-flat-button class="primary-btn" type="button" (click)="saveNewCategory()">
            Save Category
          </button>
        </div>
      </div>
      }
    </mat-card>

    <!-- TEMPLATE SECTION -->
    @if (categorySelected) {
    <mat-card class="form-card">
      <div class="header">
        <h2>Template</h2>
        @if (!creatingTemplate && !productDetailsAdded) {
        <button mat-stroked-button color="primary" type="button" (click)="createNewTemplate()">
          Create New
        </button>
        }
      </div>

      @if (!creatingTemplate) {
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Select Template</mat-label>
        <mat-select formControlName="template_id" (selectionChange)="onTemplateSelect($event)">
          @for (temp of templates; track temp.id) {
          <mat-option [value]="temp.id">{{ temp.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      } @if (creatingTemplate) {
      <div class="fade-in">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Template Name *</mat-label>
          <input matInput formControlName="template_name" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="template_description"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Required Attributes</mat-label>
          <mat-chip-grid #attributechip formArrayName="template_attribute_schema">
            @for (attribute of attributeSchema.controls; track $index) {
            <mat-chip-row>
              {{ attribute.value }}
              <button
                *ngIf="!tagsReadonly"
                matChipRemove
                aria-label="remove tag"
                (click)="removeAttribute($index)"
              >
                <ion-icon name="close-circle-outline"></ion-icon>
              </button>
            </mat-chip-row>
            }
          </mat-chip-grid>

          <input
            placeholder="Add attribute..."
            [matChipInputFor]="attributechip"
            (matChipInputTokenEnd)="addAttribute($event)"
            [disabled]="tagsReadonly"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Optional Attributes</mat-label>
          <mat-chip-grid #optionalchip formArrayName="template_optional_attribute_schema">
            @for (attribute of optionalAttributeSchema.controls; track $index) {
            <mat-chip-row>
              {{ attribute.value }}
              <button
                *ngIf="!tagsReadonly"
                matChipRemove
                aria-label="remove optinal attribute"
                (click)="removeOptionalAttribute($index)"
              >
                <ion-icon name="close-circle-outline"></ion-icon>
              </button>
            </mat-chip-row>
            }
          </mat-chip-grid>

          <input
            placeholder="Add opional attribute..."
            [matChipInputFor]="optionalchip"
            (matChipInputTokenEnd)="addOptionalAttribute($event)"
            [disabled]="tagsReadonly"
          />
        </mat-form-field>

        <div class="btn-row">
          <button mat-stroked-button color="warn" type="button" (click)="creatingTemplate = false">
            Cancel
          </button>
          <button mat-flat-button color="primary" type="button" (click)="saveNewTemplate()">
            Save Template
          </button>
        </div>
      </div>
      }
    </mat-card>
    } }

    <!-- PRODUCT SECTION -->
    @if (templateSelected && categorySelected) {
    <mat-card class="form-card">
      <h2>Details</h2>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName="product_name" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Tags</mat-label>
        <mat-chip-grid #chipGrid formArrayName="tags">
          @for (tag of tags.controls; track $index) {
          <mat-chip-row>
            {{ tag.value }}
            <button
              *ngIf="!tagsReadonly"
              matChipRemove
              aria-label="remove tag"
              (click)="removeDetailsTags($index)"
            >
              <ion-icon name="close-circle-outline"></ion-icon>
            </button>
          </mat-chip-row>
          }
        </mat-chip-grid>

        <input
          placeholder="Add tag..."
          [matChipInputFor]="chipGrid"
          (matChipInputTokenEnd)="addTag($event)"
          [disabled]="tagsReadonly"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Weight</mat-label>
        <input matInput type="number" formControlName="weight" />
      </mat-form-field>
      <!-- add product attributes required -->
      @for (attr of requiredAttributes; track $index) {
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ attr | titlecase }}</mat-label>
        <input matInput [formControl]="getAttributeControl(attr)" required />
      </mat-form-field>
      }

      <!-- add product attributes optional -->
      @for (attr of optionalAttributes; track $index) {
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ attr | titlecase }}</mat-label>
        <input matInput [formControl]="getAttributeControl(attr)" />
      </mat-form-field>
      }
      <div class="row">
        <div class="file-upload">
          <label>Thumbnail *</label>
          @if (!productForm.value?.thumbnail_url ||
          productForm.value?.thumbnail_url?.startsWith('data:image/')) {
          <div class="file-input-wrapper">
            <input
              type="file"
              (change)="onFileSelected($event, 'thumbnail_url')"
              class="file-input"
              accept="image/*"
            />
          </div>
          } @else if (!productForm.value?.thumbnail_url?.startsWith('data:image/')) {
          <app-image-thumbnail
            [imageUrl]="productForm.value?.thumbnail_url"
            (deleted)="updateFormValue('thumbnail_url')"
          ></app-image-thumbnail>
          }
        </div>
      </div>
      <mat-checkbox formControlName="is_variant">Is Variant</mat-checkbox>

      @if(!productDetailsAdded || editConfig.isEdit){
      <button
        mat-stroked-button
        color="warn"
        type="button"
        [disabled]="productForm.invalid"
        [disabled]="editConfig.isEdit ? isSubmitDisabled : productForm.invalid"
        (click)="addProduct()"
      >
        {{ !editConfig.isEdit ? 'Add Product' : 'Update Product' }}
      </button>
      }
    </mat-card>

    <!-- PRICE LIST -->
    @if(productDetailsAdded){
    <mat-card class="form-card">
      <h2>Price List</h2>
      <div formGroupName="priceList">
        <div class="row">
          <!-- Currency Code -->
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Currency Code</mat-label>
            <mat-select formControlName="currency_code">
              <mat-option *ngFor="let c of currencyCodes" [value]="c">
                {{ c }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Product Condition -->
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Product Condition</mat-label>
            <mat-select formControlName="product_condition">
              <mat-option value="new">New</mat-option>
              <mat-option value="old">Old</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price_amount" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Discount Amount</mat-label>
            <input matInput type="number" formControlName="discount_amount" />
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Discount %</mat-label>
            <input matInput type="number" formControlName="discount_percentage" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Shipping Cost</mat-label>
            <input matInput type="number" formControlName="shipping_cost" />
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Stock Quantity</mat-label>
            <input matInput type="number" formControlName="stock_quantity" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Stock Status</mat-label>
            <mat-select formControlName="stock_status">
              <mat-option value="in_stock">In Stock</mat-option>
              <mat-option value="out_of_stock">Out of Stock</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <mat-form-field appearance="outline" class="w-50">
            <mat-label>Delivery Days (Range)</mat-label>
            <input matInput type="number" formControlName="estimated_delivery_days_range" />
          </mat-form-field> -->
        </div>
        <div class="row" style="margin-bottom: 30px">
          <span>Estimated Delivery Range:</span>
        </div>
        <div class="row" formGroupName="estimated_delivery_days_range">
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Delivery Days (Lower)</mat-label>
            <input matInput type="number" formControlName="Lower" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Delivery Days (Upper)</mat-label>
            <input matInput type="number" formControlName="Upper" />
          </mat-form-field>
        </div>
      </div>
      <button
        mat-stroked-button
        color="warn"
        type="button"
        [disabled]="productForm.get('priceList')?.invalid"
        (click)="addProductPrice()"
      >
        {{ !editConfig.isEdit ? 'Add Price' : 'Update Price' }}
      </button>
    </mat-card>
    }

    <!-- PRODUCT MEDIA -->
    @if(productDetailsAdded){
    <mat-card class="form-card">
      <div class="header">
        <h2>Media</h2>
        <button mat-stroked-button color="primary" type="button" (click)="addMedia()">
          Add Media
        </button>
      </div>
      <div formArrayName="productMedia">
        @for (m of productMedia.controls; track $index) {
        <div [formGroupName]="$index" class="fade-in media-block">
          <div class="file-upload">
            <label>Thumbnail *</label>
            @if(!m.value.url || m.value.url.startsWith('data:image/')){
            <div class="file-input-wrapper">
              <input
                type="file"
                (change)="onFileSelected($event, 'category_thumbnail_url', true, $index)"
                class="file-input"
                accept="image/*"
              />
            </div>
            } @else {
            <app-image-thumbnail [imageUrl]="m.value.url" [icon]="false"></app-image-thumbnail>
            }
          </div>
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Alt Text</mat-label>
            <input matInput formControlName="alt_text" />
          </mat-form-field>
          <mat-checkbox formControlName="is_primary" style="margin-top: -20px"
            >Primary</mat-checkbox
          >
          <button
            mat-stroked-button
            color="warn"
            (click)="
              !editConfig.isEdit
                ? removeMedia($index)
                : removeMediaApi(m.value.id, $index, m.value.url)
            "
          >
            Remove
          </button>
        </div>
        }
      </div>
      <button
        mat-stroked-button
        color="warn"
        type="button"
        [disabled]="productForm.get('productMedia')?.invalid"
        (click)="addProductMedia()"
      >
        {{ !editConfig.isEdit ? 'Add Media' : 'Update Media' }}
      </button>
    </mat-card>
    }

    <!-- PRODUCT VARIANTS -->
    @if(productDetailsAdded){
    <mat-card class="form-card">
      <div class="header">
        <h2>Variants</h2>
        <button mat-stroked-button color="primary" type="button" (click)="addVariant()">
          Add Variant
        </button>
      </div>
      <div formArrayName="productVariants">
        @for (v of productVariants.controls; track $index) {
        <div [formGroupName]="$index" class="fade-in variant-block">
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Variant Type</mat-label>
            <mat-select formControlName="variant_type">
              <mat-option value="color">Color</mat-option>
              <mat-option value="size">Size</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Variant Name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Price Adjustment</mat-label>
            <input matInput type="number" formControlName="price_adjustment" />
          </mat-form-field>
          <mat-checkbox formControlName="is_default">Default</mat-checkbox>
          <button
            mat-stroked-button
            color="warn"
            (click)="
              editConfig?.isEdit ? removeVariantFromDb(v.value.id, $index) : removeVariant($index)
            "
          >
            Remove
          </button>
        </div>
        }
      </div>
      <button
        mat-stroked-button
        color="warn"
        type="button"
        [disabled]="productForm.get('productVariants')?.invalid"
        (click)="addProductVariant()"
      >
        {{ !editConfig.isEdit ? 'Add Varient' : 'Update Varient' }}
      </button>
    </mat-card>
    } }
  </form>
</div>
