@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$app-font: 'Montserrat', sans-serif;
/* You can add global styles to this file, and also import other style files */
@import '../node_modules/swiper/swiper.min.css';
* {
  box-sizing: border-box;
}
body {
  font-family: $app-font;
  margin: 0px;
  padding: 0px;
}
:root {
  --app-primary: #ec8951; /* original orange */
  --app-dark: #121212;
  --app-light: #ffffff;
  --app-border-color: #eee;
}
:focus,
:focus-visible {
  outline: none !important;
}
.go1097019230 {
  width: 100% !important;
}
button[aria-label='Add page'],
button[aria-label='Duplicate page'] {
  display: none !important;
}
ion-icon {
  cursor: pointer;
}
.page-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--app-primary);
}
.title-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;

  h2,
  h4 {
    margin: 0;
  }

  h4 {
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--app-primary);
  }

  h2 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    padding-bottom: 10px;

    &::after {
      position: absolute;
      height: 3px;
      width: 70px;
      background-color: var(--app-primary);
      content: '';
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 0;
    }
  }
  .sub-title {
    color: #777;
    font-size: 14px;
    margin: 0px;
    max-width: 340px;
    text-align: center;
  }
}
.tabs {
  font-size: calc(16px + 0.00125 * (100vw - 320px));
  padding-bottom: 30px;
  padding-top: 10px;
  font-size: 18px;
  padding-bottom: 30px;
  padding-left: 0px;
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0px;
  li {
    text-transform: uppercase;
    cursor: pointer;
    &.active {
      color: var(--app-primary);
      font-weight: 600;
    }
  }
}
.section-b-p {
  padding-bottom: 70px;
  @media (max-width: 576px) {
    padding-bottom: 30px;
  }
}
.product-detail-modal {
  .modal-container {
    max-width: 1200px !important;
  }
}
@media (max-width: 700px) {
  .go1693966287 {
    width: 100% !important;
  }
}
.slide-in-right {
  animation: slideInRight 0.4s ease forwards;
}
.swal2-html-container {
  margin: 0px !important;
  margin-top: 5px !important;
}
.swal2-title {
  margin: 0px !important;
}

.slide-out-right {
  animation: slideOutRight 0.3s ease forwards;
}

/* 🔧 Disable tick animation (make it smooth) */
.no-tick-anim .swal2-success-line-tip,
.no-tick-anim .swal2-success-line-long,
.no-tick-anim .swal2-success-ring {
  animation: none !important;
}
/* Slide in from right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Slide out to right */
@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
