@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import '../node_modules/swiper/swiper.min.css';
$app-font: 'Montserrat', sans-serif;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: $app-font,
      density: 0,
    )
  );
}

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
body {
  font-family: $app-font;
  margin: 0px;
  padding: 0px;
}
:root {
  --app-primary: #ec8951; /* original orange */
  --app-dark: #121212;
  --app-light: #ffffff;
  --app-border-color: #eee;
}

mat-form-field {
  // OUTLINED INPUTS
  @include mat.form-field-overrides(
    (
      // Outline (default) border color
      outlined-outline-color: #999,
      // Border when input is focused
      outlined-focus-outline-color: var(--app-primary),
      outlined-disabled-outline-color: #ccc,
      // Input text colors
      outlined-input-text-color: #222,
      outlined-disabled-input-text-color: #888,
      outlined-input-text-placeholder-color: #aaa,
      // Label colors
      outlined-label-text-color: #666,
      outlined-focus-label-text-color: var(--app-primary),
      outlined-disabled-label-text-color: #aaa,
      // Caret color (cursor)
      outlined-caret-color: var(--app-primary),
      // Leading and trailing icons
      leading-icon-color: #666,
      trailing-icon-color: #666,
      disabled-leading-icon-color: #ccc,
      disabled-trailing-icon-color: #ccc
    )
  );

  // FILLED INPUTS
  @include mat.form-field-overrides(
    (
      // Active underline (focus)
      filled-focus-active-indicator-color: var(--app-primary),
      filled-disabled-active-indicator-color: #ccc,
      // Input text colors
      filled-input-text-color: #222,
      filled-disabled-input-text-color: #888,
      filled-input-text-placeholder-color: #aaa,
      // Label colors
      filled-label-text-color: #666,
      filled-focus-label-text-color: var(--app-primary),
      filled-disabled-label-text-color: #aaa,
      // Caret (cursor)
      filled-caret-color: var(--app-primary),
      // Container / background
      filled-container-color: #fff,
      filled-disabled-container-color: #f5f5f5,
      // Active / hover indicator
      filled-hover-active-indicator-color: #666,
      container-height: 40px,
      // overall container height
      container-vertical-padding: 10px,
      // vertical padding inside container
      filled-with-label-container-padding-top: 0px,
      filled-with-label-container-padding-bottom: 0px
    )
  );

  .mat-input-element {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@include mat.radio-overrides(
  (
    selected-icon-color: var(--app-primary),
    selected-pressed-icon-color: var(--app-primary),
    selected-focus-icon-color: var(--app-primary),
    ripple-color: var(--app-primary),
    selected-hover-icon-color: var(--app-primary),
    checked-ripple-color: #ec8a515c,
  )
);

@include mat.checkbox-overrides(
  (
    selected-focus-icon-color: var(--app-primary),
    selected-hover-icon-color: var(--app-primary),
    selected-icon-color: var(--app-primary),
    selected-focus-state-layer-color: #ec8a515c,
  )
);
@include mat.fab-overrides(
  (
    container-color: white,
    container-elevation-shadow: -4px -4px 5px 0px rgba(0, 0, 0, 0.5),
  )
);
@include mat.button-overrides(
  (
    filled-state-layer-color: #ec8a515c,
    outlined-state-layer-color: #ec8a517e,
    outlined-ripple-color: #ec8a513b,
    filled-container-color: var(--app-primary),
    outlined-outline-color: var(--app-primary),
    outlined-label-text-color: var(--app-primary),
  )
);

mat-form-field.w-100 {
  width: 100%;
}
mat-form-field.w-auto {
  width: auto;
}

.mat-mdc-select-arrow svg {
  fill: var(--app-primary) !important;
}
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  ) {
  background-color: var(--app-primary) !important;
  color: var(--app-light) !important;
  .mdc-list-item__primary-text {
    color: var(--app-light) !important;
  }
}
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
  color: var(--app-light) !important;
}
:focus,
:focus-visible {
  outline: none !important;
}
.swal2-popup {
  display: flex !important;
  align-items: center;
}
ion-icon {
  cursor: pointer;
}
.page-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--app-primary);
}
.title-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;

  h2,
  h4 {
    margin: 0;
  }

  h4 {
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--app-primary);
  }

  h2 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    padding-bottom: 10px;

    &::after {
      position: absolute;
      height: 3px;
      width: 70px;
      background-color: var(--app-primary);
      content: '';
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 0;
    }
  }
  .sub-title {
    color: #777;
    font-size: 14px;
    margin: 0px;
    max-width: 340px;
    text-align: center;
  }
}
.tabs {
  font-size: calc(16px + 0.00125 * (100vw - 320px));
  padding-bottom: 30px;
  padding-top: 10px;
  font-size: 18px;
  padding-bottom: 30px;
  padding-left: 0px;
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0px;
  li {
    text-transform: uppercase;
    cursor: pointer;
    &.active {
      color: var(--app-primary);
      font-weight: 600;
    }
  }
}
.section-b-p {
  padding-bottom: 70px;
  @media (max-width: 576px) {
    padding-bottom: 30px;
  }
}
.product-detail-modal {
  .modal-container {
    max-width: 1200px !important;
  }
}
@media (max-width: 700px) {
  .go1693966287 {
    width: 100% !important;
  }
}
.slide-in-right {
  animation: slideInRight 0.4s ease forwards;
}
.swal2-html-container {
  margin: 0px !important;
  margin-top: 5px !important;
}
.swal2-title {
  margin: 0px !important;
}

.slide-out-right {
  animation: slideOutRight 0.3s ease forwards;
}

/* 🔧 Disable tick animation (make it smooth) */
.no-tick-anim .swal2-success-line-tip,
.no-tick-anim .swal2-success-line-long,
.no-tick-anim .swal2-success-ring {
  animation: none !important;
}
/* Slide in from right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Slide out to right */
@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
mat-icon {
  font-family: 'Material Icons';
}
