/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  padding: 0px;
}
:root {
  --app-primary: #ff6f00; /* original orange */
  --app-dark: #121212;
  --app-light: #ffffff;
  --app-secondary: #00bcd4; /* new teal/cyan color for bucket icon */
}
