<app-base-modal
  [show]="showSearchModal"
  title="Search in Store"
  (close)="closeModal()"
  class="product-detail-modal"
>
  <div class="search-container">
    <div class="search-header">
      <ion-icon name="search-outline"></ion-icon>
      <input
        type="text"
        class="search-input"
        [placeholder]="animatedPlaceholder"
        (input)="onSearch($event)"
      />
    </div>
    <!-- <div class="search-body">
      <p class="hint-text">Start typing to search for products...</p>
    </div> -->
  </div>
  @if (loading) {
  <div class="loading-state">
    <ion-icon name="sync-outline" class="spin"></ion-icon>
    <p>Searching products...</p>
  </div>
  } @else if (products.length === 0) {
  <div class="empty-state">
    <ion-icon name="search-circle-outline"></ion-icon>
    <p>No products found. Try a different keyword!</p>
  </div>
  }@else {
  <div class="products">
    @for (item of products; track $index) {
    <app-product-card [product]="item"></app-product-card>
    }
  </div>
  }
</app-base-modal>
