<app-content-header pageName="Cart" [routePath]="breadcrumb"></app-content-header>
<div class="main-container">
  <div class="stepper">
    @for (step of steps; track $index) {
    <div class="step" [ngClass]="getStepClass(step.index)" (click)="goToStep(step.index)">
      <div class="step-label">{{ step.label }}</div>
    </div>
    }
  </div>

  <div class="content">
    @if (currentStep === 1) {
    <app-shopping-cart (nextStep)="updateSteps($event, 2)"></app-shopping-cart>
    }@else if(currentStep === 2){
    <app-checkout (nextStep)="updateSteps($event, 3)"></app-checkout>
    }@else{
    <app-order-complete [orderInfo]="orderInfo"></app-order-complete>
    }
  </div>
</div>
